RHT_OCP4_MASTER_API=https://api.na45.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.na45.prod.nextcle.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.na45.prod.nextcle.com
RHT_OCP4_DEV_USER=sandeepv-sg
RHT_OCP4_DEV_PASSWORD=f14c766f1f934395be52
RHT_OCP4_GITHUB_USER=sandeepved
RHT_OCP4_QUAY_USER=sandeepved
